@font-face {
    font-family: "Lack-Regular";
    src: url('../font/Lack-Regular.eot');
    src: url("../font/Lack-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Lack-Regular.svg#Lack-Regular") format("svg"),
    url("../font/Lack-Regular.ttf") format("truetype"),
    url("../font/Lack-Regular.woff") format("woff"),
    url("../font/Lack-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Lack-Regular";
    font-size: 13px;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    outline-color: none;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body {
    margin: 0;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust: 100%;
    background: #060315;
    overflow: hidden;
}
ul,li,p,img,h1,h2,h3,h4,h5,h6,input,button,nav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
input , textarea {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.regular {
    font-family: "Lack-Regular";
}
.medium {
    font-family: "Lack-Regular";
}
.container{
    width: 100%;
    max-width: 1920px;
    padding: 0px 310px;
    margin: 0px auto;
    display: flex;
}
.font-90{
    font-size: 90px;
    line-height: 100px;
}
.pT-140{
    padding-top: 140px;
}
.hooper-slide{
    overflow: hidden;
}
/*Laptop 1440*/
@media (max-width: 1900px){
    .pT-140 {
        padding-top: 90px;
    }
    .container{
        padding: 0px 80px;
    }
}
/*Ipad Pro 1024*/
@media (max-width: 1365px){
    .container{
        padding: 0px 45px;
    }
    .font-90 {
        font-size: 70px;
        line-height: 80px;
    }
    .pT-140 {
        padding-top: 80px;
    }
}
/*Ipad 768*/
@media (max-width: 1023px){
    .container {
        padding: 0px 25px;
    }
    .pT-140 {
        padding-top: 40px;
    }
    .font-90 {
        font-size: 60px;
        line-height: 70px;
    }
}
/*Mobile 320*/
@media (max-width: 767px){
    .container{
        padding: 0px 15px;
    }
    .font-90 {
        font-size: 44px;
        line-height: 50px;
    }
}
